.addUserDetails{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    ". userFrom userFrom userFrom .";
}



@media only screen and (max-width: 800px) {
    .addUserDetails{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        " userFrom userFrom userFrom ";
    }
}