.backlogModalContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
            ". backlog backlog backlog .";
   background-color: white;
}
.backlogInnerContainer{
    grid-area: backlog;
    padding: 20px;
}
.backlogInnerContainer h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
/* .onHoldModalContent{
    display: grid;
    grid-template-areas: 
            ". closer closer closer closer closer ."
            ". titleUser titleUser titleUser titleUser titleUser ."
            ". user user user user user ."
            ". add add add add add .";
} */
.backlogCloseButton {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
}
.backlogCloseButton i {
    cursor: pointer;
}
@media only screen and (max-width: 800px) {
    .backlogInnerContainer{
        width: 100%;
        margin: auto; 
    }
}