.dashBoardStatusCard {
    background-color:white;
    padding: 10px;
    grid-column: span 2;
    border: 1px dashed black;
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 300px;
}
.dashBoardStatusCard h3 {
    color: #284b63;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.dragging {
    touch-action: none;
}

@media only screen and (max-width: 800px) {
    .dashBoardStatusCard {
        min-width: 270px;
    }
}