.editModalContainer {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". edit edit edit .";
   display: grid;
 
 }
 .editModal {
    grid-area: edit; 
    padding: 20px;
 }
 .editModal form{
    display: grid;
     grid-template-columns: repeat(1, 1fr);
     grid-gap: 10px;
 }
 .editModal input{
    padding: 10px;
    margin-bottom: 10px;
}
.editModal select{
    padding: 10px;
    margin-bottom: 10px;
}
.editModal label{
    font-size: 20px;
}
.editModal h2 {
    text-transform: uppercase;
    padding: 20px 0px;
    font-size: 25px;
    color: #284b63;
}

.editModal .fa-pencil{
    color: #284b63;
}

@media only screen and (max-width: 800px) {
    .editModalContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "edit edit edit ";
       display: grid;
     
     }
}