.header{
    grid-template-areas: "logo topNav topNav search";
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.header__logo{
    grid-area: logo;
}
.header__search {
    grid-area: search;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header__nav{
    grid-area: topNav;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header__nav a {
    border: 1px solid black;
    padding: 0px 10px;
    text-decoration: none;
    background-color: #284b63;
    color: white;
    transition: all .2s ease-in-out;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 30px;
    min-width: 80px;
}
.header__nav a:hover {
    background-color: green;
    transform: scale(1.2);
}
.header__logo img{
    max-height: 50px;
}
.mobile_nav{
    border: 0px;
    background-color: white;
    width: 40px;
    cursor: pointer;
    font-size: 30px;
    display: none;
}
@media only screen and (max-width: 1200px) {
    .header{
        grid-template-areas: 
        "logo search"
        "topNav topNav";
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .header{
        grid-template-areas: 
        "logo search";
        grid-template-columns: repeat(2, 1fr);
    }
    .header__nav{
        display: none;
    }
    .mobile_nav{
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    .header{
        grid-template-areas: 
        "logo"
        "search";
        grid-template-columns: repeat(1, 1fr);
        padding: 5px;
    }
    .header__nav{
        display: none;
    }
    .header__search{
        justify-content: center;
    }
    .header__logo{
        display: flex;
        justify-content: center;
    }
}


