.onHoldModalContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
            ". onHold onHold onHold ."; 
}
.onHoldModalInnerContainer{
    grid-area: onHold;
    padding: 20px;
}
.onHoldModalContent h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
    .onHoldModalInnerContainer{
            width: 100%;
            margin: auto; 
    }
}