.searchWidget {
    background-color: white;
    display: grid;
    grid-template-areas: 
                "search search search search search search search";
}

@media only screen and (max-width: 800px) {
    .searchWidget {
        grid-template-areas: 
                    "search search";
    }

}