.sideNavContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 100;
}
.sideNavInnerContainer {
    height: 100%;
    width: 300px;
    background-color: #284b63;
}
.sideNav {
    display: grid;
    grid-area: sideNav;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.sideNavClose{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    color: red;
}
.sideNavClose i {
    cursor: pointer;
}
.sideNav__button {
    cursor: pointer;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    border: 3px solid green;
    text-transform: uppercase;
    background-color: #284b63;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: all .5s ease-in-out;
}
.sideNav__button:hover {
    background-color: green;
    color: white;
}
