.storedStatusCard{
    border: 1px solid black;
    margin-bottom: 10px;
}
.storedStatusCard__info{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
            " storedMeta storedMeta storedMeta storedMeta storedMeta storedOption";
}
.storedMeta {
    grid-area: storedMeta;
    padding: 20px;
}
.storedOption{
    grid-area: storedOption;
}
.storedOption__nav {
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    background-color: #284b63;
    color: white;
    height: 100%;
}
.fa-eye {
    color: white;
}
.statusCardTicket__nav .fa-pencil,
.removeEdit .fa-pencil,
.storedOption__nav .fa-pencil {
    color: white;
}
.MoveDropDownContainer {
    position: relative;
}
.storedStatusCard h3{
    color: #284b63;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
}
.storedStatusCardMove{
    position: absolute;
    top: 37px;
    right: 0px;
    background-color: silver;
    border: 1px solid black;
    width: 100%;
    z-index: 10;
}
.storedStatusCardMove li{
    background-color: white;
    line-height: 20px;
    border: 1px solid black;
    padding: 5px;
    list-style: none;
    color:black;
    text-transform: uppercase;
    text-align: center;
    transition: all .5s ease-in-out;
}
.storedStatusCardMove li:hover{
    background-color: rgba(0,0,0, 0.5);
    cursor: pointer;
    color: white;
}
.changeStatusStored {
    background-color: green;
    border: 1px solid black;
    padding: 10px;  
    width: 100%;
    margin: 0px 0px 0px 0px;
    color: white;
    text-transform: uppercase;
}