.user ol li {
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 5px;
}

.add input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.add {
    grid-area: add;
    cursor: pointer;
    padding: 10px 0px;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 40px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: all .5s ease-in-out;
}
.add:hover {
    background-color: rgba(0,0,0, 0.5);
    color: white;
}
.addedUser {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 1px solid black;
    margin-bottom: 10px;
    grid-template-areas: " imagePhoto imagePhoto metaInfo metaInfo metaInfo metaInfo metaInfo metaInfo metaInfo metaInfo metaInfo metaInfo";
    border-radius: 10px;

}
.addUserImage {
    grid-area: imagePhoto;
    font-size: 40px;
    text-align: center;
}
.addUserMeta{
    grid-area: metaInfo;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "userName userEmail userEmail userEmail removeEditViewButtons removeEditViewButtons";
}
.addUserMeta .fa-window-close{
    color: red;
    cursor: pointer;
}
.userName{
    grid-area: userName;
    align-self: center;
}
.userEmail{
    grid-area: userEmail;
    align-self: center;
}
.removeEdit {
    background-color: #284b63;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    text-align: center;
    grid-area: removeEditViewButtons;
    border-radius: 0px 10px 10px 0px;
}
.userTicketsAssigned{
    grid-area: removeEditViewButtons;
}

@media only screen and (max-width: 900px) {
    .addedUser {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
        grid-template-areas: " imagePhoto imagePhoto"
                            "metaInfo metaInfo";
    }
    .addUserImage{
        display: none;
    }
    .addUserMeta{
      
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "userName "
            " userEmail"
            "removeEditViewButtons";
            overflow: auto;
    }
    .userName {
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .userEmail {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .removeEdit {
        border-radius: 0px 0px 10px 10px;
    }
}