
.viewTicketDetails{
    margin-left: 10px;
    margin-bottom: 20px;
}

.ticketSummary {
    border: 1px solid black;
    padding: 10px;
    min-height: 40px;
}
.commentArea{
    display: grid;
}
.commentArea textarea {
    padding: 5px;
    box-sizing: border-box;
}
.commentContainer{
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 20px;
}
.commentImage{
    font-size: 40px;   
    text-align: center;
    align-self: center;
}
